$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

$black: #000;
$green: #71f442;

body {
  background: $black;
  color: $green;
  font-family: Courier, sans-serif;
  font-size: 16px;

  padding: 2em;

  h1 {
    font-size: 4em;
    text-align: center;
    line-height: 0.8em;
    margin: 0 0 0.5em;
  }

  button, input[type=submit] {
    background: $black;
  }

  main {
    display: flex;
    flex-wrap: no-wrap;

    & > section {
      flex-grow: 1;
      width: 33%;
    }
  }

  dd {
    margin-bottom: 1em;

    button {
      margin-right: 1em;
    }
  }

  .travel {
    ul {
      padding: 0;

      li {
        list-style-type: none;
      }
    }
  }

  .flash {
    text-align: center;

    animation: glow .5s infinite alternate;
  }

  @keyframes glow {
      to {
          text-shadow: 0 0 1em white;
      }
  }
}
