$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

html, body {
  height: 100%;
}

body {
  #main {
    height: 100%;

    & > div {
      padding: 3em;
      height: 100%;
    }
  }

  h1 {
    font-size: 3em;
    text-align: center;
    line-height: 0.8em;
    margin: 0 0 1em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1em;
  }

  button, input[type=submit] {
    background: rgba(0,0,0, 0.2);
  }

  main {
    display: flex;
    flex-wrap: no-wrap;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    & > section {
      flex-grow: 1;
      width: 33%;
    }
  }

  dd {
    margin-bottom: 1em;

    button {
      margin-right: 1em;
    }
  }

  .travel {
    ul {
      padding: 0;

      li {
        list-style-type: none;
        margin-bottom: 1em;
      }
    }
  }

  .flash {
    text-align: center;
    max-width: 45em;
    margin: 0 auto;
  }

  .score {
    text-align: center;
  }
}
